<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form action="">
            用户名：<input type="text" v-model='name'/><br/>
            密  码：<input type="text"v-model='password' /><br/>
            性  别：男<input type="radio" name="sex" value="男" v-model='gender'> 女<input type="radio" name='sex' v-model='gender' value='女'><br/>
            城  市：<select name="" id="" v-model='city'>
                <option value="北京">北京</option>
                <option value="深圳">深圳</option>
                <option value="广州">广州</option>
                <option value="上海">上海</option>
            </select><br/>
            爱  好：
            <input type="checkbox"v-model='hobby' value='游泳'>游泳
            <input type="checkbox"v-model='hobby' value='滑雪'>滑雪
            <input type="checkbox"v-model='hobby' value='打球'>打球<br/>
            简  介：<textarea name="" id="" cols="30" rows="10" v-model='bio'></textarea><br/>
            <input type="checkbox" v-model='isAgree'>同意
        </form>
    </div>
    <script src="./js/vue.js"></script>
    <script>
        Vue.config.productionTip=false;
        const vm = new Vue({
            el:'#app',
            data:{
                msg:'hello',
                name:'jack',
                password:'123456',
                age:20,
                gender:'男',
                city:'上海',
                hobby:['游泳'],
                bio:'aaa',
                isAgree:false
                
            }
        })
    </script>

</body>
</html>